a {
    a : #f7768e ; /* This keyword, HTML elements, Regex group symbol, CSS units, Terminal Red , */
    a : #ff9e64 ; /* Number and Boolean constants, Language support constants , */
    a : #e0af68 ; /* Function parameters, Regex character sets, Terminal Yellow , */
    a : #9ece6a ; /* Strings, CSS class names , */
    a : #73daca ; /* Object literal keys, Markdown links, Terminal Green , */
    a : #b4f9f8 ; /* Regex literal strings , */
    a : #2ac3de ; /* Language support functions, CSS HTML elements , */
    a : #7dcfff ; /* Object properties, Regex quantifiers and flags, Markdown headings, Terminal Cyan, Markdown code, Import/export keywords , */
    a : #7aa2f7 ; /* Function names, CSS property names, Terminal Blue , */
    a : #bb9af7 ; /* Control Keywords, Storage Types, Regex symbols and operators, HTML Attributes, Terminal Magenta , */
    a : #c0caf5 ; /* Variables, Class names, Terminal White , */
    a : #a9b1d6 ; /* Editor Foreground , */
    a : #9aa5ce ; /* Markdown Text, HTML Text , */
    a : #cfc9c2 ; /* Parameters inside functions (semantic highlighting only) , */
    a : #565f89 ; /* Comments , */
    a : #414868 ; /* Terminal Black , */
    a : #1a1b26 ; /* Editor Background (Night) , */



    a : #8c4351 ; /* This keyword, HTML elements, Regex group symbol, CSS units, Terminal Red , */
    a : #965027 ; /* Number and Boolean constants, Language support constants , */
    a : #8f5e15 ; /* Function parameters, Regex character sets, Terminal Yellow , */
    a : #485e30 ; /* Strings, CSS class names , */
    a : #33635c ; /* Object literal keys, Markdown links, Regex literal strings, Terminal Green , */
    a : #166775 ; /* Language support functions, CSS HTML elements , */
    a : #0f4b6e ; /* Object properties, Regex quantifiers and flags, Terminal Cyan, Markdown code, Import/export keywords , */
    a : #34548a ; /* Function names, CSS property names, Markdown Headings, Terminal Blue , */
    a : #5a4a78 ; /* Control Keywords, Storage Types, Regex symbols and operators, HTML Attributes, Terminal Magenta , */
    a : #343b58 ; /* Editor Foreground, Variables, Class names, Terminal White , */
    a : #565a6e ; /* Markdown Text, HTML Text , */
    a : #634f30 ; /* Parameters inside functions (semantic highlighting only) , */
    a : #0f0f14 ; /* Terminal Black , */
    a : #9699a3 ; /* Comments , */
    a : #d5d6db ; /* Editor Background , */
}